<div class="padded-page-container">
    <div class="table-row children-center">
        <h1>Create a new Sermon</h1>
    </div>
    <form id="create_form" [formGroup]="sermonForm" (ngSubmit)="onSubmit()" #createSermonForm="ngForm">
        <div class="children-center form-field-holder" id="title_field_holder">
            <mat-form-field class="form-field" id="title_field">
                <mat-label>Title</mat-label>
                <input matInput
                    placeholder="Ex. The Angry Potter"
                    id="title_create_input"
                    class="form-create-input"
                    formControlName="title">
            </mat-form-field>
        </div>
        <div class="children-center form-field-holder" id="scripture_field_holder">
            <mat-form-field class="form-field" id="scripture_field">
                <mat-label>Scripture</mat-label>
                <input matInput
                    placeholder="Ex. Romans 15:1-7"
                    id="scripture_create_input"
                    class="form-create-input"
                    formControlName="scripture">
            </mat-form-field>
        </div>
        <div class="children-center form-field-holder" id="summary_field_holder">
            <mat-form-field class="form-field" id="summary_field">
                <mat-label>Summary<span class="small-italic"> - Optional</span></mat-label>
                <input matInput
                    placeholder="A few sentences to describe the content of the sermon"
                    id="summary_create_input"
                    class="form-create-input"
                    formControlName="summary">
            </mat-form-field>
        </div>
        <div class="children-center form-field-holder" id="summary_field_holder">
            <mat-form-field class="form-field" id="video_field">
                <mat-label>Video Recording<span class="small-italic"> - Optional</span></mat-label>
                <input matInput
                    placeholder="A link to the sermon recording on Youtube"
                    id="video_create_input"
                    class="form-create-input"
                    formControlName="video">
            </mat-form-field>
        </div>
        <div id="more-later-notice"><fa-icon [icon]="faInfoCircle"></fa-icon>&nbsp;You will be able to fill in more details on the next screen.</div>
        <div class="last-input-container flex-full children-center separate-bottom only-medium-screens">
            <editor
                initialValue="<p>There once was a sermon...</p>"
                class="tiny-editor"
                apiKey="rzi5eoji5qf0glawt64s7gkwxg9psn6rxq0q8cgjhby0en2b"
                formControlName="body"
                [init]="{
                    height: 400,
                    menubar: false,
                    placeholder: 'Ex. There once was a potter who was always angry',
                    plugins: [
                    'advlist autolink lists link image charmap print',
                    'preview anchor searchreplace visualblocks code',
                    'fullscreen insertdatetime media table paste',
                    'help wordcount'
                    ],
                    toolbar:
                    'undo redo | formatselect | bold italic underline | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | help'
                }"
            >
            </editor>
        </div>
        <div class="table-row children-center">
            <button type="submit" [disabled]="!sermonForm.valid" mat-raised-button color="primary">Create</button>
        </div>
    </form>
    <div class="success-message children-center" *ngIf="submit$ | async as result; else indicator">
        <span *ngIf="result !== true">Sermon created!</span>
    </div>
    <ng-template #indicator>
        <div class="fullscreen-loading-veil">Loading...</div>
    </ng-template>
</div>