@import '../../styles/forms.scss';
@import '../../styles/responsive.scss';

.table-row {
    @include flex-row;
}

.fullscreen-loading-veil {
    @include full-screen;
    @include loading-veil;
    
    z-index: 10;
}

.success-message {
    @include flex-row;

    margin-top: 10px;
}

#create_form {
    @include flex-col;
}

.last-input-container {
    @include flex-col;
}

.flex-full {
    @include flex-full;
}

.form-field-holder {
    @include flex-col;
}

.form-field {
    @include flex-col;

    width: calc(100% - 20px);

    @include custom(520) {
        width: 500px;
    }
}

#title_create_input,
#scripture_create_input,
.form-create-input {
    @include flex-col;
}

.sermon-content {
    height: 200px;
}

.responsive-width {
    width: 400px;
}

.separate-bottom {
    padding-bottom: 20px;
}

.tiny-editor {
    width: 100%;
}