<div class="padded-page-container">
    <div id="top-container">
        <h2 class="underlined-header">The 10 most recent sermons</h2>
    </div>
    <div id="snippet-container">
        <div class="sermon-snippet" *ngFor="let sermon of lastTenSermons">
            <div class="created-date children-center">
                <div class="month-abbr">{{sermon.createdAt | date:'MMM'}}</div>
                <div class="day-number">{{sermon.createdAt | date:'dd'}}</div>
            </div>
            <div class="text-preview">
                <div class="title-pane">{{sermon.title}}</div>
                <div class="body-pane">
                    {{sermon.body}}
                </div>
                <div class="readmore-pane">
                    <span class="read-more" [routerLink]="['/sermon', sermon._id]">Read More</span>
                </div>
            </div>
        </div>
    </div>
</div>