<div class="padded-page-container">
    <div class="fullscreen-loading-veil" *ngIf="isLoading$ | async">
        Loading...
    </div>
    <div class="loaded-sermon" *ngIf="sermon$ | async as sermon">
        <!-- If the sermon has been loaded already, we want it to remain visible under the loading veil -->
        <div class="sermon-keeper" *ngIf="sermon._id">
            <div class="owner-view" *ngIf="sermon.creator === userId; else visitor">
                <form class="sermon-form" [formGroup]="sermonForm" #editSermonForm="ngForm">
                    <div class="form-scroller">
                        <mat-tab-group class="sermon_tab_group" #sermonTabGroup (selectedTabChange)="handleTabChange($event)">
                            <mat-tab label="Details">
                                <span class="top-bar save-status">
                                    <span *ngIf="saveStatus" class="fade-out"><fa-icon [icon]="faCheck" class="icon clean"></fa-icon> Saved!</span>
                                    <span *ngIf="!saveStatus">
                                        <span *ngIf="failStatus"><fa-icon [icon]="faExclamationTriangle" class="icon error"></fa-icon> Saving Failed</span>
                                        <span *ngIf="!failStatus"><fa-icon [icon]="faSync" class="icon dirty"></fa-icon> Saving...</span>
                                    </span>
                                </span>
                                <div class="management-view" *ngIf="sermon.canManage">
                                    <!-- I need to figure out a more global way to recognize a management user -->
                                    <h3>Manage Sermon</h3>
                                    <!-- TODO: Disable this button if the sermon has already been featured previously -->
                                    <button class="control-button" id="feature_button" (click)="featureThis()" *ngIf="!sermon.featured" mat-raised-button>Feature This</button>
                                    <span class="featured-label" id="featured_label" *ngIf="sermon.featured">This sermon is being featured.</span>
                                </div>
                                <div class="sm-breakdown">
                                    <div id="title_field" class="form-field">
                                        <mat-form-field appearance="outline" class="flex-full">
                                            <mat-label for="title_sermon_input">Title</mat-label>
                                            <input matInput
                                                placeholder="Ex. The Angry Potter"
                                                id="title_sermon_input"
                                                class="responsive-width"
                                                formControlName="title" required>
                                        </mat-form-field>
                                    </div>
                                    <div id="scripture_field" class="form-field">
                                        <mat-form-field appearance="outline" class="flex-full">
                                            <mat-label for="scripture_sermon_input">Scripture</mat-label>
                                            <input matInput
                                                placeholder="Ex. The Angry Potter"
                                                id="scripture_sermon_input"
                                                class="responsive-width"
                                                formControlName="scripture" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div id="summary_field" class="form-field">
                                    <mat-form-field appearance="outline" class="flex-full">
                                        <mat-label for="summary_sermon_input">Summary</mat-label>
                                        <input matInput
                                            placeholder="A few sentences to describe the content of the sermon"
                                            id="summary_sermon_input"
                                            class="responsive-width"
                                            formControlName="summary">
                                    </mat-form-field>
                                </div>
                                <div id="video_field" class="form-field">
                                    <mat-form-field appearance="outline" class="flex-full">
                                        <mat-label for="video_sermon_input">Video Recording</mat-label>
                                        <input matInput
                                            placeholder="A link to the sermon recording on Youtube"
                                            id="video_sermon_input"
                                            class="responsive-width"
                                            pattern="(?:https?:\/\/)?(?:m\.|www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(\?\S*)?$"
                                            formControlName="video">
                                    </mat-form-field>
                                </div>
                                <div id="allow_comments_field" class="double-form-field">
                                    <mat-checkbox
                                        matInput
                                        class="row-items"
                                        id="public_sermon_input"
                                        formControlName="public">Public</mat-checkbox>
                                    <mat-checkbox
                                        matInput
                                        class="row-items"
                                        id="allowComments_sermon_input"
                                        formControlName="allowComments">Allow Comments</mat-checkbox>
                                </div>
                                <div id="resource_field" class="form-field">
                                    <mat-form-field appearance="outline" class="flex-full">
                                        <mat-label for="resource_material_input">Link to Resource Material</mat-label>
                                        <input matInput
                                            placeholder="An Amazon link to purchase the resource"
                                            id="video_sermon_input"
                                            class="responsive-width"
                                            pattern="https?:\/\/(?=(?:....)?amazon|smile)(www|smile)\S+com(((?:\/(?:dp|gp)\/([A-Z0-9]+))?\S*[?&]?(?:tag=))?\S*?)(?:#)?(\w*?-\w{2})?(\S*)(#?\S*)+">
                                    </mat-form-field>
                                </div>
                                <span class="field-label">Created: {{sermon.createdAt | date:'longDate'}}</span>
                                <span class="field-label">Last Updated: {{sermon.updatedAt | date:'longDate'}}</span>
                            </mat-tab>
                            <mat-tab label="Sermon">
                                <div class="field-label over-sermon">
                                    <span>Aproximate Reading Time: {{ (readTime*1000) | date:'m:ss' }}</span>
                                    <span class="save-status">
                                        <span *ngIf="saveStatus" class="fade-out"><fa-icon [icon]="faCheck" class="icon clean"></fa-icon> Saved!</span>
                                        <span *ngIf="!saveStatus"><fa-icon [icon]="faSync" class="icon dirty"></fa-icon> Saving...</span>
                                    </span>
                                </div>
                                <div class="responsive-expand flex-full full-height last-input-container">
                                    <editor
                                        class="sermon_editor"
                                        apiKey="rzi5eoji5qf0glawt64s7gkwxg9psn6rxq0q8cgjhby0en2b"
                                        formControlName="body"
                                        (onKeyUp)="updateReadingTime()"
                                        *ngIf="activeTabIndex===1"
                                        [init]="{
                                            height: '100%',
                                            menubar: false,
                                            plugins: [
                                                'advlist autolink lists link image charmap print',
                                                'preview anchor searchreplace visualblocks code',
                                                'fullscreen insertdatetime media table paste',
                                                'help wordcount'
                                            ],
                                            toolbar:
                                                'undo redo | formatselect | bold italic underline | backcolor forecolor | \
                                                alignleft aligncenter alignright alignjustify | \
                                                bullist numlist outdent indent | help'
                                        }"
                                    >
                                    </editor>
                                </div>
                            </mat-tab>
                            <mat-tab label="Comments ({{sermon.comments.length}})">
                                <div class="no-comments" *ngIf="!sermon.comments || sermon.comments.length < 1">
                                    <span>No comments have been left yet.</span>
                                </div>
                                <div class="comment-block" *ngFor="let comment of sermon.comments">
                                    <div class="comment-date">
                                        {{comment.date | date:'longDate'}}
                                    </div>
                                    <div class="comment-body">
                                        {{comment.body}}
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                    <div class="bottom-controls">
                        <button class="control-button" id="delete_button" [disabled]="!sermonForm.valid" (click)="deleteSermon()" mat-raised-button color="warn"><fa-icon [icon]="faTrash"></fa-icon></button>
                        <divl class="spacer"></divl>
                        <a class="control-button" id="studyGuide_button" [href]="createLink + sermon._id" target="_blank" mat-raised-button>Create Study Guide</a>
                    </div>
                </form>
            </div>
            <ng-template #visitor>
                <div class="visitor-view">
                    <mat-tab-group class="sermon_tab_group" #sermonTabGroup (selectedTabChange)="handleTabChange($event)">
                        <mat-tab label="Details">
                            <div class="management-view" *ngIf="sermon.canManage">
                                <!-- I need to figure out a more global way to recognize a management user -->
                                <h3>Manage Sermon</h3>
                                <!-- TODO: Disable this button if the sermon has already been featured previously -->
                                <button class="control-button" id="feature_button" (click)="featureThis()" *ngIf="!sermon.featured" mat-raised-button>Feature This</button>
                                <span class="featured-label" id="featured_label" *ngIf="sermon.featured">This sermon is being featured.</span>
                            </div>
                            <div class="responsive-breakdown space-between pad-bottom" id="top_metadata">
                                <span class="field-label">Created: {{sermon.createdAt | date:'longDate'}}</span>
                                <span class="field-label">Last Updated: {{sermon.updatedAt | date:'longDate'}}</span>
                            </div>
                            <div class="header-text">{{sermon.title}}</div>
                            <div class="subheader-text">{{sermon.scripture}}</div>
                            <div class="large-text separate-bottom">{{sermon.summary}}</div>
                            <div class="sermon-video" *ngIf="sermon.video">
                                <!-- width="560" height="315" -->
                                <iframe [src]="sanitizeUrl(sermon.video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </mat-tab>
                        <mat-tab label="Sermon">
                            <div class="field-label separate-bottom">Aproximate Reading Time: {{ (readTime*1000) | date:'m:ss' }}</div>
                            <form [formGroup]="sermonForm" #editSermonForm="ngForm" class="fullsize-form">
                                <editor
                                    apiKey="rzi5eoji5qf0glawt64s7gkwxg9psn6rxq0q8cgjhby0en2b"
                                    formControlName="body"
                                    class="sermon_editor"
                                    disabled="true"
                                    (onKeyUp)="updateReadingTime()"
                                    *ngIf="activeTabIndex===1"
                                    [init]="{
                                        height: '100%',
                                        menubar: false,
                                        plugins: [],
                                        toolbar: ''
                                    }"
                                >
                                </editor>
                            </form>
                        </mat-tab>
                        <mat-tab label="Comments" *ngIf="sermon.allowComments">
                            <form class="sermon-form" [formGroup]="commentForm" #commonSermonForm="ngForm" (ngSubmit)="commentOnSermon()">
                                <p>Comments left on a sermon are only visible to the author of the sermon. Please be courteous in your feedback, even if it may be hard for the author to hear. By God's grace we are allowed to proclaim His Word, and we will often find ourselves weak and needing mercy.</p>
                                <p>Most importantly though is that iron sharpens iron, and by your feedback it will allow the author of this sermon to grow and be better prepared to preach the Gospel in the future.</p>
                                <div class="comment-form-container">
                                    <div class="sent-comment" *ngIf="commentSubmitted">Comment Sent!&nbsp;&nbsp;<fa-icon [icon]="faPaperPlane"></fa-icon></div>
                                    <mat-form-field class="comment-form-container">
                                        <mat-label>Comment</mat-label>
                                        <textarea matInput
                                                cdkTextareaAutosize
                                                formControlName="body"></textarea>
                                    </mat-form-field>
                                    <button class="control-button" id="comment_button" [disabled]="!commentForm.valid" mat-raised-button color="primary" type="submit"><fa-icon [icon]="faPaperPlane"></fa-icon></button>
                                </div>
                            </form>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </ng-template>
        </div>
    </div>
</div>