@import '../../styles/forms.scss';
@import '../../styles/responsive.scss';

.padded-page-container {
    @include flex-col;
    height: calc(100% - 20px);
}

.loaded-sermon {
    @include flex-col;

    // Take up the entire page
    flex: 1 1 100%;
    height:100%;

    .sermon-keeper {
        height:100%;

        .owner-view,
        .visitor-view {
            height:100%;
        }
    }
}

.owner-view,
.visitor-view {
    @include flex-col;

    // Take up the entire page
    flex: 1 1 100%;
}

.sermon-form {
    @include flex-col;

    // Take up the entire page
    flex: 1 1 100%;
    height: 100%;

    .form-scroller {
        flex: 1 1 auto;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .bottom-controls {
        height: 40px;
        padding-top: 10px;
    }
}

.sermon-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    iframe {
        margin-bottom: 20px;
    }
}

.last-input-container {
    @include flex-col;
}

.last-input-field {
    @include flex-col;
}

.bottom-controls {
    @include flex-row;

    justify-content: flex-end;
    margin-bottom: 10px;
}

#reset_button {
    margin: 0 10px;
}

#body_sermon_input {
    flex: 1 1 100%;
}

.pad-bottom {
    padding-bottom: 5px;
}

.responsive-breakdown {
    @include flex-col;

    align-items: flex-start;

    // 576px window width and more
    @include sm {
        @include flex-row;
    }
}

#title_field,
#scripture_field {
    @include sm {
        flex: 1 1 50%;
    }
}

#title_field {
    @include sm {
        padding-right: 5px;
    }
}

#scripture_field {
    @include sm {
        padding-left: 5px;
    }
}

.sm-breakdown {
    @include flex-col;

    @include sm {
        @include flex-row;
    }
}

.responsive-expand {
    flex-grow: 1;
}

.space-between {
    justify-content: space-between;
}

#top_metadata {
    @include flex-col;

    align-items: flex-start;
    margin-bottom: 10px;

    @include sm {
        @include flex-row;

        border-bottom: 1px solid #444444;
        align-items: center;
    }
}

.form-field {
    @include flex-col;
}

.flex-full {
    @include flex-full;
}

.right-margin {
    margin-right: 10px;
}

.field-label {
    color: #444444;
}

.separate-bottom {
    padding-bottom: 20px;
}

.over-sermon {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.sermon-content {
    height: 400px;
}

.spacer {
    flex: 1 1 10%;
}

.save-status {
    line-height: 12px;
    font-size: 12px;
    text-align: right;

    &.top-bar {
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 5px 0;
    }

    .fade-out {
        animation:fadeOut 3s;
        animation-fill-mode: forwards;
    }

    @keyframes fadeOut{
        from{opacity: 1;}
        to {opacity: 0};
    }

    .icon {
        &.dirty {
            color: #4499FF;
        }
        &.clean {
            color: darkgreen;
        }
        &.error {
            color: darkred;
        }
    }
}

.fullscreen-loading-veil {
    @include full-screen;
    @include loading-veil;
    
    z-index: 10;
}

// Visitor View elements
.header-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subheader-text {
    font-size: 18px;
    // font-weight: bold;
    margin-bottom: 10px;
}

.boxed-text {
    font-size: 14px;
    border: 1px solid #CCC;
    background-color: whitesmoke;
    padding: 10px 0;

    @include sm {
        padding: 10px;
    }
}

.flex-col { 
    display: flex;
    flex-direction: column;
}

.sermon_tab_group {
    flex: 1 1 auto;

    .fullsize-form {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    // ::ng-deep is deprecated and being removed, it effectively moves the style to a global scope
    // I'm not sure why it is necessary for this style, but it is. (https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep)
    ::ng-deep .mat-tab-body-wrapper {
        flex: 1 1 auto;
        
        .mat-tab-body-content {
            display: flex;
            flex-direction: column;
        }
    }
}

.sermon_editor {
    height: 100%;
}